@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

/// SMALL SCREENS ONLY
@include media-breakpoint-down(md) {
    .aggregate-container {
        text-wrap: wrap;
    }

    .aggregate-title {
        font-weight: bold;
        text-align: center;

    }

    .entity-item {
        //font-style: italic;
        color: rgba(128, 128, 128, 0.678);
        text-overflow: ellipsis;
    }

    .entity-body {

        padding: 20px;
        margin: 0px;
        //border-radius: 5px;
    }

    .search {
        padding-left: 10px;
        border: 4px solid black;
        border-radius: 10px;
        width: 90%;
        padding-right: 30px;
        margin-left: 20px;
        margin-right: 40px;
        margin-bottom: 20px;
    }
}

// MEDIUM AND LARGE SCREENS
@include media-breakpoint-up(md) {

    .aggregate-title {
        font-weight: bold;
    }

    .entity-item {
        text-wrap: nowrap;
        max-width: 100%;
    }

    .search {
        padding-left: 10px;
        border: 4px solid black;
        border-radius: 10px;
        //width: 30%;
        padding-right: 30px;
        margin-bottom: 20px;
    }

    .entity-body {
        border-width: 1px;
        border-style: solid;
        border-color: black;
        padding: 20px;
        //border-radius: 5px;
    }
}

input:focus {
    outline: none;
}

hr {
    border-top: 2px dotted;
    margin: 0px;
    padding: 0px;
}

input:focus {
    outline: none;
}


.entity-item-header {
    font-weight: bold;
    text-align: left;


}

.aggregate-header-count {
    opacity: 0.4;
}

.aggregate-title {
    font-weight: bold;
}

.aggregate-header-count {
    opacity: 0.4;
}

.entity-id {
    //font-weight: bold;
    cursor: pointer;

}

.entity-row {
    color: rgba(128, 128, 128, 0.678);
    //font-style: italic;
    //font-size: 0.9rem;
}

.entity-row-selected {
    color: white;
    //font-style: italic;
    background-color: rgba(128, 128, 128, 0.678);
}

.entity-item-action {
    padding-right: 10px;
    cursor: pointer;
    color: black;
    font-style: normal;
    text-align: center;
}

.entity-item-action-delete {
    color: red;
}

.entity-menu {
    cursor: pointer;
}

.entity-header {
    font-weight: bold;
    text-align: left;
    background-color: black;
    color: white;
    padding-left: 10px;
    padding-top: 10px;

}

.search-text {
    color: rgba(128, 128, 128, 0.678);
    border: none;
    display: inline-block;
    width: 90%;
    padding-left: 10px
}

.search-result {
    color: rgba(128, 128, 128, 0.678);
    text-overflow: ellipsis;
    cursor: pointer;
}