@import "../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";

/// SMALL SCREENS ONLY
@include media-breakpoint-down(md) {
    .aggregate-container {
        text-wrap: wrap;
    }

    .entity-item {
        font-style: italic;
        opacity: 0.5;
        margin-left: 10px;

    }
}

// MEDIUM AND LARGE SCREENS
@include media-breakpoint-up(md) {
    .aggregate-container {
        border-width: 3px 3px 3px 3px;
        border-style: solid;
        border-color: rgba(128, 128, 128, 0.166);
        border-radius: 10px;
    }

    .entity-item {
        //font-style: italic;
        //color: rgba(128, 128, 128, 0.678);
        overflow: hidden;
        text-wrap: nowrap;
        max-width: 100%;

    }
}

.entity-item-action {
    padding-right: 10px;
    cursor: pointer;
    color: black;
}

.entity-item-action-delete {
    color: red;
}

.entity-id {
    font-weight: bold;
}

input:focus {
    outline: none;
}

.entity-header {
    font-weight: bold;
    text-align: left;
}

hr {
    border-top: 2px dotted;
    opacity: 0.1;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

input:focus {
    outline: none;
}


.entity-header {
    font-weight: bold;
    text-align: left;
}

.aggregate-header-count {
    opacity: 0.4;
}

.aggregate-title {
    font-weight: bold;
}

input.search {
    border: none;
    border-style: none;
    opacity: 0.4;

}

.aggregate-header-count {
    opacity: 0.4;
}

.aggregate-title {
    font-weight: bold;
}


input.search {
    border: none;
    border-style: none;
    opacity: 0.4;

}

.entity-row:hover {
    background: black;
    color: white !important;
    opacity: 0.6 !important;


}

.entity-row {
    color: rgba(128, 128, 128, 0.678);
    font-style: italic;
}