<!--Aggregate Container-->
<div class="container ">
    <div class="row">

        <!--Show only on larger screens-->
        <div class="col aggregate-container m-0 p-0 pb-4 ">

            <!--Aggregate Header-->
            <div class="aggregate-header  p-2 m-0">
                <div class="aggregate-title text-center">
                    <h1>Employee</h1>
                </div>
            </div>

            <!--Main Container-->
            <div class="container">

                <div class="row ">
                    <div class="col">

                        <!--Search-->
                        <div class="text-start ">
                            <div class="search">
                                <i class="bi bi-search"></i>
                                <input type="text" [(ngModel)]="_search" class="search-text"
                                    (ngModelChange)="searchDebounce($event)" />
                            </div>
                        </div>

                        <!--Search Results Container-->
                        <div class="container d-none d-sm-none d-md-block  pb-3">

                            <!---row-->
                            <div *ngFor="let data of _searchResults;" (click)=searchResultChosen(data.id)
                                class="search-result">
                                <hr>
                                <div>{{data.id}} {{data.firstname}},{{data.lastname}} - {{data.id}}
                                    years </div>
                            </div><!--row-->
                        </div> <!--Search Results Container-->
                    </div><!--col-->
                </div><!--row-->

                <div class="row">
                    <div class="col">
                        <!-------------------------SMALLER DEVICES ONLY-------------------------------->
                        <div class="container d-md-none m-0 pb-3">

                            <!--row-->
                            <div *ngFor="let data of _searchResults" (click)=searchResultChosen(data.id)
                                class="row align-top search-result">

                                <div class="col">
                                    <hr>
                                    <div>{{data.id}} {{data.firstname}},{{data.lastname}} - {{data.id}}
                                        years </div>

                                </div>
                            </div>
                        </div>
                        <!---------------------------------------------------------------------------------->
                    </div>
                </div>


                <!--Entity Details-->
                <div *ngIf="this._currentEntity !=null">
                    <div class="row entity-header ">
                        <div class="col-10">
                            <h4 class="text-start">{{_currentEntity.id}} {{_currentEntity.firstname}}
                                {{_currentEntity.lastname}}</h4>
                        </div>
                        <div class="col text-end">

                            <!--Entity Menu-->
                            <div class="overflow-hidden entity-menu dropleft">
                                <div id="dropdown">
                                    <div class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </div>
                                    <ul class="dropdown-menu">

                                        <li class="entity-item-action entity-item-action-delete"
                                            (click)=deleteConfirm(_currentEntity.id)>
                                            delete</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row entity-body p-2">
                        <entity [data]=this._currentEntity></entity>
                    </div>
                </div>
            </div><!--container-->

        </div><!--Aggregate Body-->
    </div>
</div> <!--Aggregate Container-->