<!--Toast Popup - GLOBAL ERROR NOTIFICATION -->
<div class="toast-container p-3 top-0 start-50 translate-middle-x">
  <div id="global-error-service" class="toast text-bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-body text-center">
      <i class="bi bi-exclamation-triangle"></i> ERROR - operation failed
    </div>
  </div>
</div>

<!--Top Fixed Nav--->
<nav class="navbar" role="Navigation">
  <div class="container-fluid">
    <div class="d-flex justify-content-start align-items-center justify-content-center">
      <a class="nav-link navbar-brand text-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#sideMenu">
        <i class="bi bi-justify h1"></i></a>
      <a class="navbar-brand text-black logotext" routerlink="">Minimal Ui</a>
    </div>
  </div>
</nav>

<!--MAIN CONTENT CONTAINER-->
<div class="container">
  <div class="row">
    <div class="col m-0 p-0">
      <!--MAIN CONTENT-->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--Side Nav Popout Content-->
<side-menu></side-menu>