<!--Employee Container-->
<div class="dashboard-container">

    <!--Filter row-->
    <div class="row">
        <div class="col">
            <div class="filter">
                <i class="bi bi-funnel filter-icon"></i>
                <input type="text" class="filter-text" [(ngModel)]=this._filter (ngModelChange)="filterDebounce($event)"
                    placeholder="...  " />
            </div>
        </div>
    </div>

    <!--Employee Row-->
    <div class="row">
        <div class="col text-center p-0 m-0">

            <ng-container *ngFor="let emp of employees | filterEmployeeCollection:_filter; index as i" class="entity">

                <aggregate-wrapper [entity]=emp title="{{emp | employeeFullname}}" (actionTaken)=actionTaken($event)>
                    <div class="entity-body">
                        <div>{{emp.id}}</div>
                        <div *ngIf="emp.taxFile!= null">
                            <i class="bi bi-file-earmark-text"></i> {{emp.taxFile.taxFileRecords.length}} records
                        </div>
                    </div>
                </aggregate-wrapper>


                <!--
                
            -->
            </ng-container>
        </div>
    </div>
</div>
<div>