hr {
    border-top: 2px solid;
    opacity: 0.1;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.entity-item {

    //font-size: 0.8rem;
    text-wrap: nowrap;
    max-width: 100%;
    color: rgba(128, 128, 128, 0.678);

}

.entity-row {
    color: rgba(128, 128, 128, 0.678);
    //font-style: italic;
}

.entity-item-metadata {
    font-size: 0.6rem;
    font-style: italic;
    opacity: 0.5;

}

.indent {
    margin-left: 10px;
}