<!--Side Menu-->
<div id="sideMenu" class="offcanvas offcanvas-start shadow" tabindex="-1">

    <!--Header-->
    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>

    <!--Body-->
    <div class="offcanvas-body">
        <div class="container">
            <div class="row">
                <!--About-->
                <div class="col">
                    <div class="menu-item" href="#" routerLink="/about" data-bs-dismiss="offcanvas"> About</div><br>
                </div>
            </div>
            <!--Entities-->
            <div class="col">
                <div class="menu-item" href="#" routerLink="/aggregate" data-bs-dismiss="offcanvas"> Entity</div><br>
            </div>
        </div>

    </div>

</div>