//BOOTSTRAP - Override Primary colour
//$enable-shadows: true;
$primary: #1E222D;
$body-bg: #fff;
$secondary: #8300d9;

// import bootstrap with default settings
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {

    font-family: monospace, monospace;
}

//override boostrap dropdown caret
.dropdown-toggle::after {
    border: none;
    content: '';
}